@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* background: url('./assets//background.png') no-repeat center center fixed; */

}

input {
  color: black;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 8px;
}

.form {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.float {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
/* dark mode */
input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  /* background: #2d334f; */
  border: thin solid #33333300;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    top,
    #73d2f6,
    #08c 22%,
    #7fc400 36%,
    #ffd583 48%,
    #ffb21e 63%,
    #ff4d4d 76%,
    #503873
  );
  background-image: linear-gradient(
    to bottom,
    #73d2f6,
    #08c 22%,
    #7fc400 36%,
    #ffd583 48%,
    #ffb21e 63%,
    #ff4d4d 76%,
    #503873
  );
}
::-webkit-scrollbar-track {
  background: #33333300;
  border: thin solid #33333300;
  border-radius: 10px;
}
.light {
  background: url('./assets//background.png') no-repeat center center fixed;
  background-size: cover;
}
svg {
  color: #666;
}